@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

:root {
    --cor0: #335AA6;
    --cor1: #2A558C;
    --cor2: #49B1F2;
    --cor3: #F2F2F2;
    --cor4: #D9D9D9;
    --cor5: #8B8C8C;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Anton SC', sans-serif;
    --fonte-h3: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor4);
}

a.externo::after {
    content: '\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
    text-align: center;
    background-color: var(--cor2);
    padding-top: 10px;
}

header h1 {
    font-family: var(--fonte-destaque);
    font-weight: 400;
    font-style: normal;
    padding: 5px;
    margin: 5px;
}

header p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: var(--co3);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.322);
}

nav > a {
    color: var(--cor0);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor4);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    text-align: justify;
    border-radius: 10px;
}

main img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
}

article {
    background-color: white;
    margin: 50px;
    padding: 50px;
}

article p {
    margin: 10px 0px;
    text-indent: 30px;
    line-height: 2em;
}

article h2 {
    margin: 5px;
    padding: 5px;
    font-family: var(--fonte-destaque);
    font-weight: 400;
    font-style: italic;
}

article h3 {
    margin: 10px;
    padding: 10px;
    font-family: var(--fonte-h3);
}

article a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor2);
    padding: 2px 6px;
}

article a:hover {
    text-decoration: underline;
    background-color: var(--cor0);
}

footer {
    text-align: center; 
    background-color: var(--cor0);
    color: white;
    padding: 5px;
}